.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(18, 0, 152);
    color: cadetblue;
    padding: 10px 20px;
}

.top-bar .logo {
    font-size: 24px;
    color: rgb(181, 188, 187);
}

.top-bar .links a {
    color: rgb(181, 188, 187);
    text-decoration: none;
    margin-left: 20px;
}